/* Styles menu de navigation sensible à la taille de l'écran */

nav{
    width:99%;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;

}
nav ul li{
    display:inline;
    padding:1em 0;
    margin:0;
}
nav ul li a{
    display:inline-block;
    padding:1em;
	text-decoration : none;
}

/* unvisited link */
nav ul li a:link {
    background-color: lightsteelblue;
    color: white;
}

/* visited link */
nav ul li a:visited {
    background-color: lightsteelblue;
    color: white;
}

/* mouse over link */
nav ul li a:hover {
    background-color: steelblue;
    color: lightsteelblue;
}

/* selected link */
nav ul li a:active {
    background-color: steelblue;
    color: lightsteelblue;
}




/* tablet */
@media screen and (max-width: 1024px){
    main, nav ul {
       width:99%;
    }
	main{
       border:none;
   padding : 0 0;
    }
	
}
/* smartphone  */
@media screen and (max-width: 768px){
    nav ul li a{
        display:block;
    }
    
}

